<div>
  <% @flower.each do |flower| %>
<%= image_tag(flower.image) %>
<h3><%= flower.name %></h3>
          <p><%= flower.price %> đ</p>
          <%= flower.description %>
          <%= flower.supplier_id %>
</div>
